@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, black, rgb(54, 224, 12));
}

h1 {
    position:absolute ;
    top: 1px;
    margin: 0 auto;
    color: white;
    padding: 10px;
    display: block;
    
    

}

input {
  width: 10px;
  color: #fff;
  padding: 17px;
  outline: none;
  font-size: 30px;
  font-family: "DM Sans", sans-serif;
  border-radius: 25%;
  cursor: pointer;
  margin: 3px;
}


.logo{
text-align: center;
color:#fff;
height:40%;
font-size: 15px;

}


.maincolor:hover {
  background-color: rgb(139, 139, 139);
}

.main {
  position: absolute;
  background-color: #000000;
  border-radius: 35px;
  padding: 24px;
  top: center;

}

.maincolor {
  background-color: rgb(160, 160, 160);
  
}

.num {
  width: 64px;
  height: 75px;
}

.text {
  width: 170px;
  height: 40px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
  }

.text1 {
  color: rgb(250, 250, 250);
  width: 30px;
  height: 35px;
  border-radius: 22px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 270%;
  cursor: pointer;
  border: solid;
  
}

.main {
  display: inline-block;
}

.color1 {
  background-color: #b9b613;
  border: solid;
  cursor: pointer;
}
.color1:hover {
  background-color: rgba(251, 255, 0, 0.959);
}

.color2 {
  background-color: #e6a51b;
  border: solid;
  cursor: pointer;
}
.color2:hover {
  background-color: rgb(240, 143, 16);
}

.color3 {
  background-color: #14ec0dc0;
  border: solid;
  cursor: pointer;
}
.color3:hover {
  background-color: rgb(83, 146, 11);
}

.color4 {
  background-color: #3b2fdab6;
  border: solid;
  cursor: pointer;
}
.color4:hover {
  background-color: rgb(52, 151, 243);
}

.color5 {
  background-color: #e74250;
  border: solid;
  cursor: pointer;
}
.color5:hover {
  background-color: rgb(246, 0, 62);
}
